<div class="container">
    <h1>Kontakt</h1>
    <h3>Tlf. nr: 30355465</h3>
    <h3>E-mail: ninagh@live.dk</h3>
</div>

<style>
     h3{
    font-weight: 300;
    font-size: 18px;

  }



  @media screen and (min-width: 600px) {

h1{
    font-size: 60px;

}

h3 {
    font-size: 20px;
    max-width: 70%;
}
}
</style>