<div class="container">
    <h1>Kontakt</h1>
    <h3>Telefon nr</h3>
    <p>+45 30355465</p>
    <h3>E-mail</h3>
    <p>ninagh@live.dk / nihi0001@stud.kea.dk</p>
</div>

<style>
  

  h3 {
    font-weight: 400;
    font-size: 18px;
  }

  p{
    font-size: 16px;
    font-weight: 300;
  }



  @media screen and (min-width: 600px) {

h1{
    font-size: 40px;

}


}
</style>