<div class="container">
  <h1>Nina Hildebrandt</h1>
  <div class="grid">
    <section class="col1">
      <h2>
        Søger en spændende praktikplads inden for webdesign, hvor jeg kan
        udfolde mine færdigheder og tilegne mig ny viden med fokus på kreativ
        udvikling.
      </h2>
      <p>
        Jeg er Nina Hildebrandt, 22 år gammel og bosat på Frederiksberg. På nuværende tidspunkt befinder jeg mig på 3. semester af multimediedesignstudiet på KEA. Jeg er på udkig efter en praktikplads
        inden for områder som digitalt design, webdesign, UI/UX og
        frontend-udvikling. Jeg håber, at min profil kan imødekomme jeres behov og bidrage positivt til jeres team.
      </p>
    </section>
    <section class="col2">
      <img src="/portræt.webp" alt="portrætbillede" />
    </section>
  </div>
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  img {
    width: 300px;
    height: auto;
    margin-top: 2rem;
  }

  .col2 {
    text-align: center;
  }

  h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }

  h2 {
    font-weight: 400;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
  }

  p {
    font-weight: 300;
    font-size: 16px;
    font-family: "Lora", serif;
    margin-top: 2rem;
  }

  @media screen and (min-width: 600px) {
    .col2 {
      text-align: left;
    }

    h1 {
      font-size: 40px;
    }

    img {
      width: 250px;
      height: auto;
      margin-top: 0rem;
    }
  }

  @media screen and (min-width: 900px) {
    .grid {
      grid-template-columns: 2fr 1fr;
    }

    h2 {
      font-size: 20px;
      max-width: 80%;
    }

    p {
      font-size: 16px;
      max-width: 80%;
    }
  }
</style>
