<div class="container">
    <h1> Nina G. Hildebrandt</h1>
    <h2>Nysgerrig på at lære mere om HTML, CSS og UX-design</h2>
    <a class="knap" href="projects.html">Se mine tidligere projekter</a>

</div>

<style>

.container {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    margin: auto;
    margin: 100px auto 20px;
    max-width: 600px;
    padding: 25px;
}

h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    color: #d64005;
}

h2 {
    font-weight: 300;
    font-size: 20px;
    color: #d64005;
    margin-bottom: 3rem;
}

.knap{
    background-color: #d64005;
    color: white;
    padding: 13px;
    border-radius: 10px;
    text-decoration: none;
}

.knap:hover{
    background-color: #f9f1e4;
    color: #d64005;


}


@media screen and (min-width: 600px) {
    .container {
        margin: 150px auto 20px;

    }
}

</style>