<div class="navbar">
  <a href="/https://www.linkedin.com/in/nina-grandil-hildebrandt-712525171">
    <img src="/linkedin.svg" alt="" class="logo" />
</a>
  <a href="/cv">CV</a>
</div>

<style>
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    margin-right: 2rem;
    /*background-color: aqua;*/
  }

  .logo {
    width: 40px;
    height: auto;
    margin-right: 20px;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Kalnia", serif;
  }
</style>
