<div class="navbar" id="navbar">
  <a href="https://www.linkedin.com/in/nina-grandil-hildebrandt-712525171">
    <img src="/linkedin.svg" alt="" class="logo" id="linkedin-icon" />
</a>
<div class="højre">
  <a href="/">Profil</a>
  <a href="/cv">CV</a>
</div>
</div>

<style>
  .navbar {
    display: flex;
    /*justify-content: flex-end;*/
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-right: 2rem;

    /*margin-right: 0rem;
    /*background-color: aqua;*/
  }

  .logo {
    width: 40px;
    height: auto;
   /* margin-right: 10px;*/
    margin-left: 8px;

  }

  .højre{
    display: flex;
  }


  a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    margin-right: 20px;
  }

  @media screen and (min-width: 600px) {

    .navbar {
    margin-right: 2rem;
    }

    .logo {
    margin-left: 2rem;

  }
    
    }
</style>

<script>

    document.addEventListener('DOMContentLoaded', function(){
    const linkedinIcon = document.getElementById('linkedin-icon');

    linkedinIcon.addEventListener('mouseover', () => {
  document.body.style.backgroundColor = '#0077b5';
});

linkedinIcon.addEventListener('mouseleave', () => {
  document.body.style.backgroundColor = '#F2F1E6';
});

});
</script>
