<div class="navbar" id="navbar">
  <a href="/">Profil</a>
  <a href="https://www.linkedin.com/in/nina-grandil-hildebrandt-712525171">
    <img src="/linkedin.svg" alt="" class="logo" id="linkedin-icon" />
</a>
  <a href="/cv">CV</a>
</div>

<style>
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    margin-right: 0rem;
    /*background-color: aqua;*/
  }

  .logo {
    width: 40px;
    height: auto;
   /* margin-right: 10px;*/
    margin-left: 8px;

  }


  a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Kalnia", serif;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
  }

  @media screen and (min-width: 600px) {

    .navbar {
    margin-right: 2rem;
  }}
</style>

<script>

    document.addEventListener('DOMContentLoaded', function(){
    const linkedinIcon = document.getElementById('linkedin-icon');

    linkedinIcon.addEventListener('mouseover', () => {
  document.body.style.backgroundColor = '#0077b5';
});

linkedinIcon.addEventListener('mouseleave', () => {
  document.body.style.backgroundColor = '#F2F1E6';
});

});
</script>
