<hr />
<div class="container">
  <h1>Projekter</h1>
  <div class="grid">
    <div class="item">
      <img src="/ux.webp" alt="" />
      <a href="https://regal-sable-07161b.netlify.app/"
        >Redesign for UX Copenhagen</a
      >
    </div>

    <div class="item">
      <img src="/ca.webp" alt="" />
      <a href="https://tema9.netlify.app/">Kampange for CA A-kasse</a>
    </div>

    <div class="item">
      <img src="/vahlwood.webp" alt="" />
      <a href="https://eksamensprojektvol2.netlify.app/"
        >Redesign for Vahl Wood</a
      >
    </div>
  </div>
</div>
<hr />

<style>
  .container {
    padding: 25px;
  }

  h1 {
    text-transform: uppercase;
  }

  img {
    width: 300px;
    height: auto;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
  }

  a {
    text-decoration: none;
    font-family: "helvetica";
    color: #F2F1E6;
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;
  }

  a:hover{
    color: #000000;
    background-color: #F2F1E6;



  }

  .link {
    margin-top: 3rem;
  }

  @media screen and (min-width: 600px) {
    .container {
      padding: 55px;
    }
    h1 {
      font-size: 60px;
    }

    h2 {
      font-size: 25px;
    }

    h3 {
      font-size: 20px;
      max-width: 70%;
    }

    img {
      width: 400px;
      height: auto;
    }

    .grid {
      justify-items: center;
      /*gap: 1rem;*/
    }

    a {
    text-align: center;
  }
  }
</style>
