<hr />
<div class="container">
  <h1>Projekter</h1>
  <div class="grid">
    <div class="item">
      <img src="/ux.webp" alt="" />
      <a href="https://regal-sable-07161b.netlify.app/"
        >Redesign for UX Copenhagen</a
      >
    </div>

    <div class="item">
      <img src="/ca.webp" alt="" />
      <a href="https://tema9.netlify.app/">Kampange for CA A-kasse</a>
    </div>

    <div class="item">
      <img src="/vahlwood.webp" alt="" />
      <a href="https://eksamensprojektvol2.netlify.app/"
        >Redesign for Vahl Wood</a
      >
    </div>
  </div>

  <p>Under mit andet semester på multimediedesignuddannelsen på KEA har jeg sammen med min studiegruppe arbejdet på diverse projekter, herunder redesigns for UX Copenhagen og VahlWood samt udviklingen af en kampagne for CA a-kasse. Vores tilgang til opgaverne startede med en grundig analyse af målgruppen for at opnå en dybere forståelse af deres behov og for at samle vigtige indsigter. Derefter igangsatte vi designprocessen ved at skabe en prototype i Figma, hvor løbende test og tilpasninger blev foretaget. Afslutningsvis implementerede vi vores færdigheder inden for HTML, CSS og JavaScript til at kode de endelige websites.</p>
  <p>Projekterne har derfor givet mig erfaring med værktøjer som Git, GitHub, Astro, Netlify, Figma og Adobepakkerne.  </p>
  <p>Jeg søger nu en praktikplads indenfor webdesign i Københavnsområdet, hvor jeg kan udfolde mine færdigheder og fortsætte min læring. I løbet af uddannelsen har jeg fået en større interesse indenfor digitalt design, UI/UX og frontendudvikling. Jeg håber på at lande en praktikplads, der værdsætter et sundt og positivt teammiljø, hvor jeg kan bidrage aktivt til projektarbejdet og deltage i skabelsen af digitale løsninger.</p>
</div>
<hr />

<style>
  .container {
    padding: 25px;
  }

  h1 {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 2rem;


  }

  img {
    width: 300px;
    height: auto;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
  }

  a {
    text-decoration: none;
    color: #F2F1E6;
    display: block;
    margin: 1rem 3rem 1rem 3rem;
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;

  }

  a:hover{
    color: #000000;
    background-color: #F2F1E6;
  }

  .link {
    margin-top: 3rem;
  }

  p{
    max-width: 100%;
    font-weight: 300;
    font-size: 16px;
    font-family: "Lora", sans-serif;

  }

  .item{
    text-align: center;
  }

  @media screen and (min-width: 600px) {
    .container {
      padding: 55px;
    }
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 25px;
    }

    h3 {
      font-size: 20px;
      max-width: 70%;
    }

    img {
      width: 350px;
      height: auto;
    }

    .grid {
      justify-items: center;
    }

    a {
    text-align: center;
    margin-right: 0rem;
    margin: 1rem 0rem 1rem 0rem;
  }
  }

  @media screen and (min-width: 1000px) {

    p{
    max-width: 60%;
    margin-left: 1rem;
    margin-top: 2rem;

  }
  }
</style>
