* {
    background: #F2F1E6;
}

h1 {
    font-family: "Kalnia", serif;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}

h2,
h3,
p,
a {
    font-family: 'helvetica';
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;

}

.container {
    padding: 25px;

}


@media screen and (min-width: 600px) {

    .container {
        padding: 55px;

    }

    h1 {
        font-size: 60px;

    }

    h2 {
        font-size: 23px;
    }

    h3 {
        font-size: 20px;
        max-width: 70%;
    }
}